.indigo-bg {
  background-color: #b895f0;
}

.blue-bg {
  background-color: #80aef3;
}

.purple-bg {
  background-color: #aca0c2;
}

.orange-bg {
  background-color: #dab18f;
}

.teal-bg {
  background-color: #9ae2cd;
}
