.indigo-bg {
  background-color: #d4c2f1;
}

.blue-bg {
  background-color: #b3cef7;
}

.purple-bg {
  background-color: #cbc3d8;
}

.orange-bg {
  background-color: #f1dcca;
}

.teal-bg {
  background-color: #ccf0e6;
}
